@font-face {
  font-family: 'fontDarkSide';
  src: url('..//Fonts//KGDarkSide.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontRedHands';
  src: url('..//Fonts//KGRedHandsOutline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontFunk';
  src: url('..//Fonts//Funk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
h1{
  font-family: 'fontRedHands';
  font-size: 50px;
  color: #090322;
  text-shadow: 1px 1px 1px #ccc;
}

h2{
  font-family: 'fontRedHands';
  font-size: 25px;
  color: #0a0324;
  text-shadow: 1px 1px 1px #ccc;
}
.row{
  width: 1320px;
  margin: auto;
}
header{
  display: flex;
}
#search-form{
  position: relative;
  display: flex;
}

*:not(h1) {
  font-family: 'fontFunk';
  font-size: 20px;
  color: #2a42c9;
  text-shadow: 1px 1px 1px #ccc;
}
.weather-info-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* background-color: red; */
}

#forecast-container {
  float        : right;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  width: 100%;
  /* margin         : 0 auto; */
  /* background-color: blue; */
}

.forecast-item {
  float         : right;
  width         : calc(100% / 7 - 10px);
  height: 200px;
  margin-bottom : 20px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  text-align    : center;
  gap: 25px;
  border: 2px solid rgb(149, 198, 214);
  background-color:linear-gradient(lightblue white);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.forecast-item:hover {
  transform: scale(1.02);
}
#clothes-images {
  /* float         : right;
  align-items: center;
  margin-top: -20%;
  display       : flex; */
}

.top {
  order: 1;
}

.bottom {
  order: 2;
}

.footwear {
  order: 3;
}

.clothes-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 30px;
  padding: 20px;
}

#clothes-images{

  display     : flex;
  /* width       : 100px; */
  /* set the width of the container div */
  /* height      : 100px; */
  /* set the height of the container div */
  /* margin-right: 1px; */
}

#clothes-images div{
 width       : 100px;
 height      : 100px;
}

#clothes-images img {
  width : 85%;
  height: auto;
}

#options img {
  width : 20%;
  height: auto;
  /* margin-left: 100px; */
}

#umbrella-image img {
  width : 10%;
  height: auto;
}

body {
  background           : linear-gradient(to bottom right, #5B92E5, #bcdcf6, #FBB829);
  background-attachment: fixed;
  font-weight          : bold;
  color                : #2a42c9;
}

button {
  font-weight     : bold;
  color           : #2a42c9;
  background-color: #FBB829;
  border: 1px solid lightblue ;
  border-radius: 20px;
  transition: all 0.5s ease;
}

button:hover{
  transform: scale(1.07);
}

#search-list{
  left: 70px;
  top: 30px;
  width: 200px;
  position: absolute;
  border-radius: 5px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.list-item{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px 20px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 1.02s ease;
}

.list-item:hover{
  background-color: rgba(124, 229, 243, 0.2);
  transform: scale(1.07);
}

/* start toggle-btn */
.toggle-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-btn input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle-img {
  position: absolute;
  left: 4px;
  top: 4px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* end toggle-btn */

#not-found {
  display: none;
  color: red;
  font-weight: bold;
}

.list-item {
  position: relative;
  display: block;
}

.delete-button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.rounded-image-icon{
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 10px;
}

.header-title {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  padding-bottom: 10px;
}

/**/
#search-input{
  width: 200px;
  outline: none;
  border: 0px;
  border-radius: 20px;
}

#search-input:focus{
  background-color: lightblue;
}

.weather-details{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* background-color: yellow; */
  /* border: 1px solid black; */
  border-radius: 30px;
}

#temperature{
  font-size: 30px;
}
/* .option-title{
  justify-content: top;
  align-items: end;
  background-color: red;
} */
.options-section{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  width: 30%;
}
#options{
  display: flex;
  margin-top: 30px 30px 0 0;
  justify-content:center;
  gap: 50px;
  align-items: center;
  border-radius: 20px;
}





/*style for different screen sizes including Tablet, Mobile -> Large, medium, small*/

@media(max-width: 1200px){
  html{
      font-size: 55%;
  }
}

@media(max-width: 991px){
  
 
  header{
    width: 991px;
    justify-content: start;
    padding-left: 50px;
    /* background-color: yellow; */
  }
  #search-list{
    left: 120px;
    top: 30px;
    width: 200px;
  }

  .row{
    width: 991px;
  }

  header  h1{
    font-size: 25px;
  }

  #search-form{
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-left: 50px;
    /* background-color: red; */
  }
  #forecast-container{
     margin: 0 30px;
    padding: 0 30px; 
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .forecast-item {
    flex: 0 0 35%;
    width: 35%;
    height: 200px; 
  }

  .weather-details{
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 80px;
  }
  .clothes-section{
    flex-direction: column;
  }
  .options-section{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 30%;
  }
  /* #options{
    flex-direction: row;
    width: 50%;
  } */
  #clothes-images{
    gap: 30px;
  }
  .rounded-image-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-bottom: 10px;
  }
}

@media(max-width: 768px){

  header{
    width: 768px;
    justify-content: start;
    padding-left: 20px;
    /* background-color: yellow; */
  }
  .row{
    width: 768px;
  }

  header  h1{
    font-size: 25px;
  }
  #search-form{
    justify-content: start;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;
    /* background-color: red; */
  }
  #forecast-container{
     margin: 0 30px;
    padding: 0 30px; 
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .forecast-item {
    flex: 0 0 35%;
    width: 35%;
    height: 200px; 
  }

  .weather-details{
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 80px;
  }
  .clothes-section{
    flex-direction: column;
  }
  .options-section{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 30%;
  }
  /* #options{
    flex-direction: row;
    width: 50%;
  } */
  #clothes-images{
    gap: 30px;
  }
  .rounded-image-icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-bottom: 10px;
  }

}

@media(max-width: 617px){

  #search-list{
    left: 250px;
    top: 30px;
    width: 200px;
  }

  header{
    width: 617px;
    justify-content: center;
    padding-left: 20px;
  }
  .row{
    width: 617px;
  }
  #search-form{
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .forecast-item {
    flex: 0 0 50%;
    width: 50%;
    height: 200px; 
  }
  .weather-details{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 80px;
  }
  .clothes-section{
    flex-direction: column;
  }
  .options-section{
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 30%;
  }
  /* #options{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  #options img {
    width : 50px;
  }
}
@media(max-width: 425px){


}

