@font-face {
  font-family: 'fontDarkSide';
  src: url('..//Fonts//KGDarkSide.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontRedHands';
  src: url('..//Fonts//KGRedHandsOutline.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}
h1{
  font-family: 'fontRedHands';
  font-size: 50px;
  color: #FBB829;
  text-shadow: 1px 1px 1px #ccc;
}
*:not(h1) {
  font-family: 'fontDarkSide';
  color: #2a42c9;
  text-shadow: 1px 1px 1px #ccc;
}

#forecast-container {
  float        : right;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  margin         : 0 auto;
}

.forecast-item {
  float         : right;
  width         : calc(100% / 7 - 10px);
  margin-bottom : 20px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  text-align    : center;
}

#clothes-images {
  float         : right;
  align-items: center;
  margin-top: -30%;
  display       : flex;
}

.top {
  order: 1;
}

.bottom {
  order: 2;
}

.footwear {
  order: 3;
}

#clothes-images>div {
  display     : inline-block;
  width       : 100px;
  /* set the width of the container div */
  height      : 100px;
  /* set the height of the container div */
  margin-right: 1px;
}


#clothes-images img {
  width : 85%;
  height: auto;
}

#options img {
  width : 10%;
  height: auto;
  margin-left: 100px;
}

#umbrella-image img {
  width : 10%;
  height: auto;
}

body {
  background           : linear-gradient(to bottom right, #5B92E5, #bcdcf6, #FBB829);
  background-attachment: fixed;
  font-weight          : bold;
  color                : #2a42c9;
}

button {
  font-weight     : bold;
  color           : #2a42c9;
  background-color: #FBB829;
}

#search-list{
  left: 90px;
  width: 168px;
  position: absolute;
  /* border: 1px solid lightgrey; */
  border-radius: 5px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.list-item{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px 20px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 1.02s ease;
}

.list-item:hover{
  background-color: rgba(124, 229, 243, 0.2);
  transform: scale(1.07);
}




/* start toggle-btn */
.toggle-btn {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle-btn input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.toggle-img {
  position: absolute;
  left: 4px;
  top: 4px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* end toggle-btn */

#not-found {
  display: none;
  color: red;
  font-weight: bold;
}
