#forecast-container {
  float        : right;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: space-between;
  margin         : 0 auto;
}

.forecast-item {
  float         : right;
  width         : calc(100% / 7 - 10px);
  margin-bottom : 20px;
  display       : flex;
  flex-direction: column;
  align-items   : center;
  text-align    : center;
}

#clothes-images {
  float         : right;
  align-items: center;
  margin-top: -10%;
  display       : flex;
}

.top {
  order: 1;
}

.bottom {
  order: 2;
}

.footwear {
  order: 3;
}

#clothes-images>div {
  display     : inline-block;
  width       : 100px;
  /* set the width of the container div */
  height      : 100px;
  /* set the height of the container div */
  margin-right: 1px;
}


#clothes-images img {
  width : 85%;
  height: auto;
}

#umbrella-image img {
  width : 10%;
  height: auto;
}

body {
  background           : linear-gradient(to bottom right, #5B92E5, #FFFFFF, #FBB829);
  background-attachment: fixed;
  font-weight          : bold;
  color                : #2a42c9;
}

header {
  font-size  : 36px;
  text-shadow: 1px 1px 1px #ccc;
}

button {
  font-weight     : bold;
  color           : #2a42c9;
  background-color: #FBB829;
}

#search-list{
  left: 90px;
  width: 168px;
  position: absolute;
  /* border: 1px solid lightgrey; */
  border-radius: 5px;
  display: block;
  background-color: rgba(0, 0, 0, 0.1);
}

.list-item{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 5px 20px;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 1.02s ease;
}

.list-item:hover{
  background-color: rgba(124, 229, 243, 0.2);
  transform: scale(1.07);
}

